.head {
  position: absolute;
  width: 268px;
  height: 115px;
  left: 183px;
  top: 230px;
  margin-left: 10%;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 110.7%;
  /* or 115px */

  letter-spacing: -0.03em;
}
.line {
  position: absolute;
  width: 111px;
  height: 10px;
  left: 197px;
  top: 345px;
  margin-left: 10%;

  background: #fc8e5b;
}

.scrollpage {
  width: 50pxpx;
  height: 300px;
  background: #f5ea95;

  overflow: hidden;
  overflow-y: scroll;
}
.annonce {
  background-color: #f5ea95;
  position: relative;
}
.pic {
  padding: 0;
}
.title {
  font-family: Barlow;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  color: #3d1734;
  line-height: 1.3;
}
.txt {
  font-family: "Mulish", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  color: #3d1734;
  line-height: 1.8;
}
.scroll {
  width: 628px;
  height: 340px;
  overflow: hidden;
  overflow-y: scroll;
}
.dim {
  margin-top: 10%;
  margin-right: 95%;
}
