.btn {
  background-color: #fc8e5b;
  border-radius: 30px;
  padding: 5px 10px;
  padding-bottom: 10px;
  color: #fff;
  width: 9rem;
  margin-left: 20px;
}

.right-half {
  padding-top: 8%;
  text-align: left;
}

.cont {
  margin: 0;
  padding: 7% 5% 11% 25%;
  padding-top: 16vh;
  height: 90vh;
  padding-bottom: 14vh;
}
@media (max-width: 370px) {
  .right-half h1 {
    font-size: 3rem;
  }
  .cont {
    margin: 0;
    /* padding: 17% 11% 4.35% 11%; */
  }
}
@media (max-width: 600px) and (min-width: 370px) {
  .Hello-square {
    right: 7.9%;
    width: 85%;
  }
  .circle {
    width: 13.5rem;
    height: 13.5rem;
  }
  .light-circle {
    width: 13.5rem;
    height: 13.5rem;
  }
}
@media (max-width: 1400px) and (min-width: 600px) {
  .right-half h1 {
    font-size: 4rem;
    justify-content: left;
  }
}
@media (max-width: 599px) and (min-width: 375px) {
  .right-half h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 370px) {
  .right-half h1 {
    font-size: 3rem;
  }
}
@media (max-width: 770px) {
  .right-half {
    padding-bottom: 100px;
  }
  .contain {
    padding-bottom: 100px;
  }
}
