.head {
  padding-right: 10rem;
  padding-left: 10rem;

  width: 100%;
}
.container {
  justify-content: space-between;
  margin: 3rem;
}
.logo {
  float: left;
  width: 30px;
  height: 44.63px;
  left: 374px;
  top: 1434px;
  margin-right: 1rem;
}
.text {
  float: left;
  font-family: Lexend Exa;
}
.txt {
  font-family: Lexend Exa;
  margin-right: 20%;
}
.title {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 97px;

  /* or 93% */

  text-align: center;
  letter-spacing: 0.06em;
}
.line {
  width: 111px;
  height: 10px;
  left: 149px;
  top: 372px;

  background: #fc8e5b;
}

.right {
  margin-left: 10%;
}
.left {
  margin-right: 10%;
}
@media (max-width: 600px) {
  .title {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 104px;
    line-height: 97px;
    padding: none;
    margin: 0;

    /* or 93% */
  }
  .head {
    padding-left: 0;
    margin: 0;
  }
  .right {
    margin-left: 0%;
  }
  .left {
    margin-right: 0%;
  }
}
