.contain {
  padding-top: 50px;
}
.row {
  padding: 15px 210px;

  margin-bottom: 5.9%;
}
.head {
  padding-right: 15rem;
  padding-left: 10rem;
  padding-top: 75px;

  width: 100%;
}
.container {
  justify-content: space-between;
  margin: 3rem;
}
.logo {
  float: left;
  width: 60px;
  height: 74.63px;
  left: 374px;
  top: 1434px;
  margin-right: -0.5rem;
}
.text {
  float: left;
  font-family: Lexend Exa;
}
.txt {
  margin-left: auto;
}

.title {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 104px;
  line-height: 97px;

  /* or 93% */

  text-align: center;
}
.line {
  text-decoration: underline;
  text-decoration-color: #fc8e5b;
}

.right {
  margin-right: 150;
}
.left {
  margin-right: 150px;
}
@media (max-width: 600px) {
  .title {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 97px;
    padding: none;
    margin: 0;

    /* or 93% */
  }
  .head {
    padding-left: 0;
    margin: 0;
  }
  .right {
    margin-left: 0%;
  }
  .left {
    margin-right: 0%;
  }
  .line {
    text-decoration: none;
    text-decoration-color: #fc8e5b;
  }
  .line2 {
    text-decoration: underline;
    text-decoration-color: #fc8e5b;
  }
  .row {
    padding: 0;
  }
}
