.top {
  position: relative;
}
.gray-line-1 {
  position: absolute;

  width: 40%;
  height: 0%;
  border: 1px solid #565656;
  top: 30px;
  left: 5%;
}
.gray-line-2 {
  position: absolute;
  width: 40%;
  height: 0%;
  border: 1px solid #565656;
  left: 52%;
  top: 30px;
}
.mixin-logo {
  position: absolute;
  top: 34px;
  left: 47.5%;
  height: 30px;
  top: 17px;
}
.theme-svg {
  position: absolute;
  right: 3%;
  top: 17px;
  height: 35px;
}
