.circle {
  position: relative;
  border-radius: 47%;

  background-color: #161616;
  width: 450px;
  height: 450px;
  z-index: 1;
}
.light-circle {
  position: relative;
  border-radius: 47%;

  background-color: #70e1e4;
  width: 450px;
  height: 450px;
  z-index: 1;
}

.white-circle {
  position: absolute;
  width: 98%;
  height: 98%;
  border: 3px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;

  left: 0%;
  z-index: 2;
  top: 1%;
}
.dark-circle {
  position: absolute;

  border: 3px solid black;
  border-radius: 50%;
  box-sizing: border-box;

  left: 0%;
  z-index: 2;
  top: 1%;
}
.Hello-square {
  position: absolute;
  width: 250px;
  height: 150px;
  top: 15%;
  right: 72%;
  z-index: 3;
}
.animate svg {
  position: absolute;
  left: 13%;
  top: 11%;
  height: 80%;
  width: 75%;
}

#right-wheel,
#left-wheel {
  animation: wheel 15s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@media (max-width: 600px) and (min-width: 370px) {
  .circle {
    width: 13.5rem;
    height: 13.5rem;
  }
  .light-circle {
    width: 13.5rem;
    height: 13.5rem;
  }
}
@media (max-width: 1400px) and (min-width: 772px) {
  .circle {
    width: 60vh;
    height: 60vh;
    padding: 0px;
  }
  .light-circle {
    width: 60vh;
    height: 60vh;
    padding: 0px;
  }
}

@media (max-width: 599px) and (min-width: 375px) {
  .circle {
    width: 19rem;
    height: 19rem;
    margin-top: 2rem;
  }
  .light-circle {
    width: 19rem;
    height: 19rem;
    margin-top: 2rem;
  }
}
@media (max-width: 370px) {
  .circle {
    width: 200px;
    height: 200px;
  }
  .light-circle {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 770px) {
  .Hello-square {
    position: absolute;
    right: unset;
    left: 8%;
    top: 24%;
  }
  .contain {
    padding-bottom: 150px;
  }
}
